
/* Offers */

.offers {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.offers > * {
    flex-direction: column;
    padding-inline: 1em;
    padding-block: 2em;
    flex-basis: 100%;
    background-color: beige;
    h2 {
        text-align: center;
        margin: .25em;
    }
    p {
        margin: 0;
    }
}