/*
    footer.css
    Styles for the <footer> element.
*/

footer {
    text-align: center;
    padding: 1em;
    width: 100%;
    background-image: linear-gradient(#3c3c3c, #090909);
    color: white;
    text-shadow: 0px 0px 1em black;
    color-scheme: only dark;
}
footer p {
    font-weight: bold;
}

footer a {
    color: inherit;
}