/*
    footer.css
    Styles for the <header> element.
*/

body > header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(8px);
    box-shadow: 0px 10px 64px black;
    color: white;
    color-scheme: only light;
    outline: 2px solid transparent;
}

header nav ul {
    display: flex;
    list-style: none;
    font-weight: bold;
    flex-wrap: wrap;
}

nav ul, nav li {
    padding: 0;
    margin: 0;
}

header nav a, header nav button {
    display: block;
    padding: 1em;
    width: 100%;
    height: 100%;
    /* Curse you default button styles! */
    font-family: inherit;
    font-weight: inherit;
    background-color: inherit;
    text-decoration-color: transparent;
    color: inherit;
    border: inherit;
    cursor: pointer;
    align-content: center;
}

header nav a:has(img) {
    padding: 0;
}

h1 {
    margin: 0;
}
header nav img {
    display: block;
    height: 3.25rem;
}

#skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip-link:focus {
    position: static;
    width: auto;
    height: auto;
    background-color: white;
    color: blue;
    color-scheme: only light;
    padding: 1em;
}

form[role="search"] {
    display: flex;
    flex-direction: row;
    margin: 0 1rem 0 auto;
    padding: 0;
    font-size: 0.875rem;
    background: transparent;
    outline: 2px solid transparent;
    flex-direction: row;
    align-items: stretch;
    background-color: white;
    color: black;
    color-scheme: only light;
    border-radius: 0.5em;
}
form[role="search"] input {
    margin-top: 0;
    margin-bottom: 0;
    padding: .5em 1em;
    background-color: transparent;
    border: none;
    color: inherit;
}
form[role="search"] button {
    display: block;
    padding: .5em 1em;
    background-color: transparent;
    border: none;
    color: inherit;
}
form[role="search"] button svg {
    display: block;
    width: 1em;
    height: 1em;
    color: inherit;
    fill: currentColor;
}
form[role="search"] input:focus, form[role="search"] input:hover {
    backdrop-filter: brightness(92%);
}

/* Better contrast ratio for placeholder when focused */
form[role="search"] input:focus::placeholder, form[role="search"] input:hover::placeholder {
    color: black;
}

form[role="search"] button:focus, form[role="search"] button:hover {
    backdrop-filter: brightness(85%);
}

button[aria-expanded] + ul {
    display: block;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(8px);
    color: black;
    box-shadow: 0px 0px 16px;
    outline: 2px solid transparent;
    z-index: 1;
}

/* This is the little cheveron for the dropdown menu */
button[aria-expanded]::after {
	content: "";
	display: inline-block;
	border-bottom: 2px solid currentColor;
	border-right: 2px solid currentColor;
	height: 0.4em;
	margin-left: 0.35em;
	width: 0.4em;
	transform: rotate(45deg);
	transition: all 0.1s linear;
	border-radius: 0;
}

button[aria-expanded=true]::after {
	transform: rotate(225deg);
}

header nav button:hover, header nav button:focus, header nav a:focus, header nav a:hover {
    backdrop-filter: brightness(150%);
}