#hero-section {
    position: relative;
    img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }
}
#hero-section hgroup {
    padding: 1rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    padding-inline: 1rem;
    padding-block: 3rem;
    transform: translate(0, -50%);
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(8px);
    h2, p {
        margin: 0;
        line-height: 1em;
    }
    p {
        font-size: 0.85rem;
        text-align: center;
    }
}

/* Why is this not in the file called "media-queries"? Because reasons.*/
@media screen and (min-width: 60rem)  {
    #hero-section hgroup {
        left: 50%;
        width: auto;
        padding-inline: 6rem;
        transform: translate(-50%, -50%);
        h2 {
            font-size: 2rem;
        }
    }
}