
/* Responsive styles for desktop */
@media screen and (min-width: 60rem)  {
    body > div {
        display: grid;
        grid-template-columns: auto 1fr 30ch;
        min-height: 100vh;
    }
}

/* Responsive styles for tablets and smaller */
@media screen and (max-width: 60rem)  {
    .offers {
        flex-direction: column;
    }
    header {
        flex-direction: column;
    }
    .two-column, .three-column {
        flex-direction: column;
        align-items: stretch;
    }
    .three-column * {
        text-align: left !important;
    }
    form[role="search"] {
        /* Naw bruh we don't need it 🗿 */
        display: none;
    }
    .cards {
        display: block;
        padding: 1rem;
        > * {
            margin-block: 1rem;
        }
    }
}

/* Responsive styles for phones */

@media screen and (max-width: 25rem)  {
    .simple-form {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

/* Prevent the header from taking over the world */
@media screen and (max-height: 30rem)  {
    body > header {
        position: relative;
    }
}