/*Used this color palette: https://colorhunt.co/palette/aa3a3aa4b787f4f4f4f8e4b7*/

body {
    margin: 0;
}

/* Vulnerability Specific Styling */

.hidden-search {
    color: #FCECE5;
}

/* These positions are a rough solution to getting the buttons to overlap and stay overlapped
feel free to change anything if there's a way to do that that looks better -
it only looks decent on my laptop while fullscreened -Angela */
#real-business-info {
    position: absolute;
    left: 300px;
    background-color: rgba(104, 128, 104, 0.746);
    color: white;
    text-align: center;
    font-size: large;
    padding: 10px 30px;
    border-radius: 12%;
}

/* There's still some space left to click the real button */
#fake-business-info {
    position: absolute;
    left: 310px;
    font-size: large;
    padding: 10px 30px;
    opacity: 0;
}

/* These are just to make overlapping the buttons possible and so they don't overlap with the rest of the page */
#business-header, #to-client-offer {
    position: relative;
}

#to-client-offer {
    margin-top: 50px;
}

/* All Text */

p, li, h2, h4, label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Default link styling */
a:visited, a:visited {
    color: blue;
    text-decoration: none;
}

/* Keyboard users */
a:focus {
    outline: 2px solid blue;
    text-decoration: underline;
}

/* Non-keyboard users hovering */
a:hover {
    /* color: rgb(195, 199, 207);
    Changed from color to underline due to contast issues, feel free
    to change back if you can make it AA rating or higher -Sean*/
    outline: none;
    text-decoration: underline;
}

/* Nav links override default link style */
nav a, nav a:visited {
    text-decoration: none;
    color: inherit;
}

/* Non-keyboard users hovering, nav */
a:hover {
    outline: none;
    text-decoration: underline;
}

/* Ad Section */

.ad_section {
    padding: 1.8em 2em 2em 2em;
    align-content: center;
    h2 {
        margin-block: .25em
    }
}

/* Offers */

.offers {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    gap: 1em;
}

.offers > * {
    flex-direction: column;
    padding-inline: 1em;
    padding-block: 2em;
    border-radius: 8px;
    flex-basis: 100%;
    h2 {
        text-align: center;
        margin: .25em;
    }
    p {
        margin: 0;
    }
}

/* God I hate content-box */
* {
    box-sizing: border-box !important;
}

#skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip-link:focus {
    position: static;
    width: auto;
    height: auto;
}

section {
    align-content: center;
    text-align: center;
}

table {
    text-align: left;
    margin-inline: auto;
}
td {
    padding-inline: 1em;
}

main p {
    max-width: 80ch;
    margin-inline: auto;
}
