/*
    style.css
    Basic styles.
*/

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body * {
    font-size: inherit;
}

/* Vulnerability Specific Styling */
.hidden-search {
    color: #FCECE5;
}

/* Default link styling */
a:visited, a:visited {
    color: blue;
    text-decoration: none;
}

/* Keyboard users */
a:focus {
    outline: 2px solid blue;
    text-decoration: underline;
}

/* Non-keyboard users hovering */
a:hover {
    outline: none;
    text-decoration: underline;
}

table {
    text-align: left;
    margin-inline: auto;
}
td {
    padding-inline: 1em;
}

figcaption {
    padding-block: .25rem;
}

h2 {
    font-size: 1.5rem;
}