/*
    style.css
    Basic styles.
*/

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body * {
    font-size: inherit;
}

/* Vulnerability Specific Styling */
.hidden-search {
    color: #FCECE5;
}

/* Default link styling */
a:visited, a:visited {
    color: blue;
    text-decoration: none;
}

/* Keyboard users */
a:focus {
    outline: 2px solid blue;
    text-decoration: underline;
}

/* Non-keyboard users hovering */
a:hover {
    outline: none;
    text-decoration: underline;
}

table {
    text-align: left;
    margin-inline: auto;
}
td {
    padding-inline: 1em;
}

figcaption {
    padding-block: .25rem;
}

h2 {
    font-size: 1.5rem;
}

.sussy {
    background-image: url("/img/sussy.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.sus-meter {
    height: 1rem;
    width: 4.6rem;
    background-image: url("/img/sussy.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: left;
}
.sus-meter meter {
    opacity: 0.001;
}

/* Hides reflected user input as a fun obfuscation strategy */
.hidden-reflected-user-input {
    opacity: 0.07;
}

.form-error-message {
    font-style: italic;
    font-weight: bold;
    color: #a40000;
    font-size: 0.85rem;
    min-height: 1em;
    line-height: 1em;
}
.form-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 0.75rem;
    gap: .1em;
}
label {
    font-size: 1rem;
    line-height: 1em;
}